/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding:0;
  text-align: center;
} */

body {
  /* font-size: 62.5%; */
  background-color: rgb(250, 250, 250);
}

.container {
  max-width: 1600px;
  margin:0 auto;
}

.header {
  height: 5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  height: auto;
  padding: 1rem;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Operations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.status-btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 11rem;
  height: 2.5rem;
  border-radius: 8px;
}



.btn.active {
  background-color: #4C5FFF;
  color: white;
}

.sort-data,
.category-data {
  width: 11rem;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
}

/* table */
.table {
  width: 100%;
}

.table-data {
  width: 100%;
  background-color: aquamarine;
  border: 1px solid black;
}

.table-data th,
td {
  text-align: start;
  padding: .3rem;

}

.table-data td {
  background-color: white;
}

.badge {
  width: 50px;
  height: 30px;
  /* border: 1px solid gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.praimary::before {
  width: 100%;
  padding: .2rem .7rem;
  border-radius: 18px;
  background-color: rgb(233, 42, 42);
  color: white;
  content: "بسته";
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.secondary::before {
  width: 100%;
  padding: .2rem .7rem;
  border-radius: 18px;
  background-color: green;
  color: white;
  content: "باز";
  display: flex;
  align-items: center;
  justify-content: center;
}